// This is where you can import other stylesheets or write your scss code
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../scss/mixin";
@import "../fonts/fonts";

* {
    font-family: 'Rubik', sans-serif;
}

/* BORDER COLORS FOR VISUALISATION*/
.color-cc {
    border: solid red 3px;
}

.color-cc-black {
    border: solid black 3px
}

.color-cc-fill {
    background-color: #265940
}
/* Individual height for the Navbar */
.navbar_custom_height {
    @extend .navbar;
    height: 80px;
}

.nav-item {
    margin-right: 25px;
}

.custom-logo-font {
    font-family: 'Sacramento', cursive;
}

.navbar-btn {
    @extend .btn;
    width: 180px;
    height: 55px;
    background-color: #2EA9A7;
    border-style: none;
    color: white;
    font-weight: 600;
}

.navbar-custom-color {
    background-color: #265940;
}


.btn-border-radius {
    border-radius: 30px;
}


/* ? First Section */


.container-positioning {
    position: relative;
    top: 75%;
}

/* ? First Section Images */

.hero-img-1 {
    @include hero-img-1
}


/* ? First Section Images END */


/* ? First Section Text */
.section-one-h1 {
   @include section-one-h1
}

.section-one-top-p {
    @include section-one-top-p
}

.section-one-p { 
    @include section-one-p
}

.button-template {
    @include button
}

.green-button {
 background-color: #FF7272;
}

.orange-button {
    background-color: #099A97;
}

/* ? First Section Text END */



/* ? CARD SECTION START */

.card-form {
    @include card-form
}


/* ? CARD SECTION END */

/* Innovation Section START */
.innovation-wrapper {
    @include innovation-wrapper
}


.background-color-innovation {
    background-color: #F2F5FB;
}

.about-items-left {
   
    height: 400px;
}

.about-items-container {
    height: 100px;
}

.about-items-wrapper {
    width: 70%;
    display: inline-block;
    height: 90px;
}

.about-item-img-wrapper {
    @include about-item-img-wrapper;
}

.about-mobile-img {
    border: solid green 2px;
    width: 30%;
    display: inline-block;
}

.about-items-right {
    border: solid green 2px;
    width: 33.33%;
    display: inline-block;
    height: 400px;
}


/* Innovation Section END */


/* About Section START */

.content-mobile-img {
    @include content-mobile-img
}
